
@{
    ViewBag.Title = "updatePlotNo";
}
<div class="col-md-12">
    <center>
        <h1>Booking successful</h1>
        <a class="mt-auto" href="@Url.Action("viewGravePost", "viewGrave")"><button class="buttonNormal" style="width:1000px;margin-left:250px;text-align:center;background:lightslategray;">Return to homepage</button></a>
    </center>
</div>


