
@{
    ViewBag.Title = "Login";
}
@Styles.Render("~/Content/css/login")
<div class="container c">
    <nav class="navbar navbar-expand-md  mt-2">
        <div class="col-md-6">
                <form id="form" class="f" action="@Url.Action("Login", "Authentication")" method="post">
                    &nbsp;
                    <div class="h3 mb-4" style="text-align: center; font-weight: bold;font-size:35px;">Sign In</div>
                    <input type="text" style="background:lightblue;height:2px;width:100%;border:lightblue;" />
                    <div class="fm mt-4">
                        <label for="adminPhone">Contact</label>
                        <input type="text" placeholder="Enter your contact" id="phone" name="phone" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error message</small>
                    </div>
                    <div class="fm">
                        <label for="AdminPassword">Password</label>
                        <input type="password" placeholder="Enter your password" id="password" name="password" />
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-exclamation-circle"></i>
                        <small>Error message</small>
                    </div>
                    <button class="but" style="background:red;border:red;">Sign In</button>
                    <div class="mt-2" style="text-align: center"> Don't have an account ? <a class="text-danger"  href="@Url.Action("Registration", "Authentication")">Sign Up</a> </div>
                    &nbsp;&nbsp;
                </form>
            </div>
        
        <div class="col-md-6">
            <div class="ima" style="margin-left:20px;">
                <img src="~/media/images/p.jpg" alt="plot" style="height:520px;width:600px;" />
            </div>
        </div>
    </nav>
</div>


@Scripts.Render("~/bundles/login")

