*{
    margin-top: 0;
    padding: 0;
    
}

body{
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    
}

h1
{
    margin-top: 10px;
    font-size: 36px;
    color: #555;
    font-weight: bold;
}

h3
{
    font-size: 34px;
    color: #555;
    font-weight: bold;
}
#team img
{
    margin-top: -50px;
}

#team i
{
    font-size: 26px;
    color: #555;
    
}

#team p
{
    font-weight: 500;
    
}
#team .card
{
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: 5px 5px 15px #56ab2f
    transition: all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
        
}
#team .card:hover
{
   background:  linear-gradient(to right, #56ab2f  , #a8e063);
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
          
}

#team .card:hover h3, #team .card:hover i
{
 color: #fff;   
}

