@{
    ViewBag.Title = "Home Page";
}
<div class="col-lg-12 centered">
    <div class="container">
        <div class="card" style="width:1200px">
            <img class="card-img-top center" src="~/Media/Images/admin/jurain.jpg" alt="Card image" style="width:100%;height:300px;">
            <div class="card-body">
                <h5 class="mt-1" style="text-align: center;">Jurain Graveyard</h5>
                <h5 class="mt-1" style="text-align: center;">Capacity:<a class="bg-light">10000</a></h5>
                <h5 class="mt-1" style="text-align: center;">Available:<a class="bg-light">8000</a></h5>
                <h5 class="mt-1" style="text-align: center;">Contact No:<a class="bg-light">01875963254</a></h5>
                <h5 class="mt-1" style="text-align: center;">154 new polton Rd, Dhaka 1205</h5>
                <p><button class="buttonNormal" style="background:lightslategray;text-align: center;">Buy a plot</button></p>
            </div>
        </div>
    </div>
    <br>

        <div class="col-lg-12 centered">
            <div class="container">
                <div class="card" style="width:1200px">
                    <img class="card-img-top center" src="~/Media/Images/admin/banani.jpg" alt="Card image" style="width:100%;height:300px;">
                    <div class="card-body">
                        <h5 class="mt-1" style="text-align: center;">Banani Graveyard</h5>
                        <h5 class="mt-1" style="text-align: center;">Capacity:<a class="bg-light">10000</a></h5>
                        <h5 class="mt-1" style="text-align: center;">Available:<a class="bg-light">8000</a></h5>
                        <h5 class="mt-1" style="text-align: center;">Contact No:<a class="bg-light">01875963254</a></h5>
                        <h5 class="mt-1" style="text-align: center;">154 new polton Rd, Dhaka 1205</h5>
                        <p><button class="buttonNormal" style="background:lightslategray;text-align: center;">Buy a plot</button></p>
                    </div>
                </div>
            </div>
            <br>

     <div class="col-lg-12 centered">
    <div class="container">
        <div class="card" style="width:1200px">
            <img class="card-img-top center" src="~/Media/Images/admin/azimpur.jpg" alt="Card image" style="width:100%;height:300px;">
            <div class="card-body">
                <h5 class="mt-1" style="text-align: center;">Azimpur Graveyard</h5>
                <h5 class="mt-1" style="text-align: center;">Capacity:<a class="bg-light">10000</a></h5>
                <h5 class="mt-1" style="text-align: center;">Available:<a class="bg-light">8000</a></h5>
                <h5 class="mt-1" style="text-align: center;">Contact No:<a class="bg-light">01875963254</a></h5>
                <h5 class="mt-1" style="text-align: center;">154 new polton Rd, Dhaka 1205</h5>
                <p><button class="buttonNormal" style="background:lightslategray;text-align: center;">Buy a plot</button></p>
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-12 centered">
        <div class="container">
            <div class="card" style="width:1200px">
                <img class="card-img-top center" src="~/Media/Images/admin/rayerbazar.jfif" alt="Card image" style="width:100%;height:300px;">
                <div class="card-body">
                    <h5 class="mt-1" style="text-align: center;">Rayerbazar Graveyard</h5>
                    <h5 class="mt-1" style="text-align: center;">Capacity:<a class="bg-light">10000</a></h5>
                    <h5 class="mt-1" style="text-align: center;">Available:<a class="bg-light">8000</a></h5>
                    <h5 class="mt-1" style="text-align: center;">Contact No:<a class="bg-light">01875963254</a></h5>
                    <h5 class="mt-1" style="text-align: center;">154 new polton Rd, Dhaka 1205</h5>
                    <p><button class="buttonNormal" style="background:lightslategray;text-align: center;">Buy a plot</button></p>
                </div>
            </div>
        </div>
        </div>
        <br>





